@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

@theme {
  --color-dark-space: #0D1821;
  --color-off-white: #EFF1F3;
  --color-forest-green: #4E6E5D;
  --color-tan: #AD8A64;
  --color-burnt-sienna: #A44A3F;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
